body {
  background-color: #e3f4ff;
  font-family: Helvetica, arial, sans-serif;
}
a {
  color: midnightblue;
}
h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: midnightblue;
}
header {
  margin-bottom: 30px;
}
form {
  padding: 20px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  display: flex;
  margin-bottom: 20px;
}
footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
}

.submit-button {
  margin-left: 10px;
  color: white;
  width: 150px;
  font-size: 16px;
  background: midnightblue;
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid midnightblue;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.03);
}
.hidden {
  display: none;
}

.form-container {
  background-color: white;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 15px 20px;
}
.hint {
  text-align: start;
  opacity: 0.6;
  font-size: 12px;
  padding: 15px;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
